.body-bg {
  background-color: var(--body-color);
}
/* Page Header */
.page-header {
    background-color: var(--white-color);
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--border-color);
}

.h-screen-widthout-nav {
    height: calc(100vh - var(--header-height-movil));
    
}
@media screen and (min-width: 1024px) {
    .h-screen-widthout-nav {
        height: calc(100vh - var(--header-height-desktop));
    }
}