.form-group {
}
input.form-control,
select.form-control,
textarea.form-control  {
    color: #777;
    background-color: #fff;
    border-radius: 0.25rem;
    width: 100%;
    padding: 0.25rem 0.75rem;
    height: 38px;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: none;
    outline: 0;
    transition: all .3s;
}
textarea.form-control {
    height: 60px;
    resize: none;
}
input[disabled].form-control{
    background-color: var(--disabled);
    border-color: var(--disabled-border);
    cursor: not-allowed;
}
.message-error.error{
    display: block;
    font-size: 11px;
    color: var(--message-error);
}